/*для экарана шириной до 1140px работает если экран меньше чем 1140рх*/
@media (max-width: 1140px) {
	.card {
		width: calc(50% - 15px);
	}

	.footer {
		padding-top: 40px;
		padding-bottom: 60px;
	}

	.footer_row {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
	}

	.footer_col {
		margin-bottom: 50px;
	}

	.footer_col:first-child {
		margin-bottom: 0;
	}
}

/*для экрана шириной до 760px работает если экран меньше чем 760рх*/
@media (max-width: 760px) {
	.header_title {
		font-size: 32px;
	}

	.header_subtitle {
		font-size: 14px;
	}

	.portfolio {
		padding-top: 40px;
		padding-bottom: 60px;
	}

	.portfolio_header {
		font-size: 32px;
		margin-bottom: 30px;
	}

	.card {
		max-width: 530px;
		width: 100%; 
	}

	.portfolio_cards_wraper {
		display: flex;
		justify-content: center;
	}

	.card_link {
		padding: 15px;
	}

	.card:nth-last-child(2) {
		margin-bottom: 30px;
	}

	.card_img {
		margin-bottom: 15px;
	}

	.card_text_title {
		font-size: 18px;
		mix-blend-mode: 10px;
	}

	.footer_copiraiteName {
		font-size: 15px;
		margin-bottom: 5px;
	}

	.footer_copiraite p {
		font-size: 14px;
	}

	.footer_icons p {
		font-size: 15px;
	}

	.footer_contact p {
		font-size: 14px;
		margin: 0;
		margin-top: 15px;
	}
	.project{
		padding: 40px 0 60px;
	}

	.project_img {
		margin-bottom: 20px;
	}

	.project_description {
		margin-bottom: 50px;
	}

		.project_buttonBack {
			padding: 0 6px 0 6px ;
			font-size: 13px;
			max-width: 320px ;
		}
}